<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="ROOT_LEVEL" value="INFO" />
    <timestamp key="byDate" datePattern="yyyy-MM-dd"/>
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
    <property name="MESSAGE_FILE_PATTERN" value="%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level %marker %thread %logger - %msg%n" />
    <property name="maxhistory" value="40"/>
 

    <appender name="STDOUT1" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
	  <Pattern>${MESSAGE_FILE_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
   		 	<level>INFO</level>  
    		<onMatch>ACCEPT</onMatch>  
    		<onMismatch>DENY</onMismatch>  
		</filter>  
        <file>${catalina.base}/logs/app/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app/app-info-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxhistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FILE_PATTERN}
            </pattern>
          <!--  <charset>UTF-8</charset>   -->
        </encoder>
        <!--日志文件最大的大小 
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>-->
    </appender>
<!-- 	<appender name="musicAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
   		 	<level>INFO</level>  
    		<onMatch>ACCEPT</onMatch>  
    		<onMismatch>DENY</onMismatch>  
		</filter>  
        <file>${catalina.base}/logs/app/app-music.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app/app-music-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxhistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FILE_PATTERN}
            </pattern>
        </encoder>
    </appender> -->

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${catalina.base}/logs/app/app-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app/app-error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxhistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FILE_PATTERN}
            </pattern>
        </encoder>
    </appender>
<!-- 	<appender name="doubanAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
   		 	<level>INFO</level>  
    		<onMatch>ACCEPT</onMatch>  
    		<onMismatch>DENY</onMismatch>  
		</filter>  
        <file>${catalina.base}/logs/app/app-douban.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app/app-douban-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxhistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MESSAGE_FILE_PATTERN}
            </pattern>
        </encoder>
    </appender> -->
    
    <logger name="org.springframework" level="INFO">
    </logger>

    <logger name="org.hibernate" level="INFO">
    </logger>

    <logger name="org.apache.http" level="INFO">
    </logger>

    <logger name="org.apache.commons" level="INFO">
    </logger>

    <logger name="freemarker" level="INFO">
    </logger>

    <logger name="io.netty" level="INFO">
    </logger>

    <logger name="org.jooby" level="INFO">
    </logger>
    
<!-- 	<logger name="com.music" level="INFO" additivity="false"> 
		<appender-ref ref="musicAppender"/>
		<appender-ref ref="ERROR"/>
		<appender-ref ref="STDOUT1"/>
    </logger>
	
	<logger name="com.utils" level="INFO" additivity="false"> 
		<appender-ref ref="doubanAppender"/>
		<appender-ref ref="ERROR"/>
		<appender-ref ref="STDOUT1"/>
    </logger> -->
    
    <root level="${ROOT_LEVEL}">
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="STDOUT1"/>
    </root>
    
    	<!--日志异步到数据库 -->
	<!-- <appender name="DB" class="ch.qos.logback.classic.db.DBAppender"> -->
	<!-- 日志异步到数据库 -->
	<!-- <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource"> -->
	<!-- 连接池 -->
	<!-- <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource"> -->
	<!-- <driverClass>com.mysql.jdbc.Driver</driverClass> -->
	<!-- <url>jdbc:mysql://127.0.0.1:3306/databaseName</url> -->
	<!-- <user>root</user> -->
	<!-- <password>root</password> -->
	<!-- </dataSource> -->
	<!-- </connectionSource> -->
	<!-- </appender> -->
</configuration>